.table-header {
    font-size: 1.5em;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

th,
td {
    padding: 0.5em;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}