div {
    margin-left: 10px;
}

input {
    margin: 5px;
    margin-top: auto;
    border: solid 1px #f6e2e2;
    padding: 8px;
    width: 100px;
}

button {
    margin-left: 2cm;
    border: solid 1px #f6e2e2;
    padding: 8px;
    width: 100px;
}