table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th {
    background-color: #95c6ec;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 8px;
}

td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #b03434;
}

img {
    height: 50px;
    margin-right: 10px;
}